/* colors ------------------------------------------------------------------------------ */
/* primary */
    /* dark blue:    #002776 */
    /* cadet blue:   #5C9EAD */
    /* ivory white:  #FBFFF1 */
    /* light blue:   #C7F0FF */
/* secondary */
    /* light orange: #E39774 */
    /* dark orange:  #d46633 */
    /* light green:  #407C59 */
    /* dark green:   #214E34 */

/* global ------------------------------------------------------------------------------ */
body {
    /* background: url("../images/bw-bg.jpg") center center / cover no-repeat fixed; */
    /* color: white; */
    background: url("images/vine1.svg") left top no-repeat, url("images/vine2.svg") left top no-repeat, url("images/vine3.svg") left bottom no-repeat;
    background-size: contain, contain, contain;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-size: medium !important;
}

@media (max-width: 500px) {
    body {
        background-size: 200%, 300%, 300%;
    }
}

h1 {
    color: white !important;
    font-weight: 700 !important;
    padding-bottom: 2rem;
}

@media (max-width: 500px) {
    h1 {
        text-align: center;
    }

    #schedule h1 {
        text-align: left;
    }
}

p {
    text-overflow: ellipsis !important;
}

.bg-overlay {
    /* background-image: linear-gradient(to right bottom, rgb(0, 153, 204), rgb(102, 153, 0)); */
    background-color: #002776;
    /* opacity: 0.8; */
}

.btn-primary {
    background-color: #002776 !important;
    border-color: #002776 !important;
}

.btn-primary:hover {
    background-color: #001f5c;
    border-color: #001f5c;
}

.nav {
    padding-right: 0;
}

/* header navbar ------------------------------------------------------------------------- */
.navbar {
    margin-bottom: 0px;
    padding-top: 0px !important;
}

.navbar-brand {
    padding-left: 1.5em !important;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 1em;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    padding: 0 .5em 0 .5em;
}

.nav-link {
    font-size: medium !important;
    float: right;
}

.nav-link:hover {
	transition: 0.5s;
}


.nav-link:hover:after {
    transform: scaleX(1);
}

.nav-link::after {
    display: block;
    content: '';
    border-bottom: solid 3px #FBFFF1;  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

.navbar-collapse {
    padding-top: 2rem;
}

#mlh-badge-container {
    position: relative;
    min-width: 7rem;
}

.mlh-badge {
    position: absolute;
    top: -100%;
    max-width: 100px;
    min-width: 60px;
}

.mlh-badge:after {
    display: none;
}

.mlh-img {
    width:100%;
}

#mlh-collapsed-container {
    display: none;
}

#collapse-container {
    min-width: 10rem;
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
}

@media (max-width: 990px) {
    .navbar-nav {
        padding-top: 2rem;
    }

    #mlh-badge-container {
        display: none;
    }

    #mlh-collapsed-container {
        display: block;
        position: relative;
        min-width: 5.3rem;
    }

    #mlh-collapsed-badge {
        top: -52%;
    }
}

@media (max-width: 400px) {
    #mlh-collapsed-container {
        min-width: 4rem;
    }
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-toggler {
    margin: auto 1em auto 1em;
}

.white {
    color: white !important;
    font-weight: bold !important;
}

.sticky-top.scrolled {
    --bs-bg-opacity: 1 !important;
    background-color: #002776 !important;
    transition: background-color 200ms linear;
}



/* main/home section ----------------------------------------------------------------------------- */
#home {
    min-height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    max-width: 26em;
}

@media (max-width: 500px) {
    #logo {
        max-width: 80%;
    }
}

#date {
    color: #d46633 !important;
    margin: 1em auto 1em auto;
    font-weight: bolder !important;
}

.signup {
    color: #d46633;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d46633;
    background-color: #d46633;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: .5em;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 2em;
}

.signup:hover {
    color:white;
    background-color: rgb(222, 158, 129);
}

.large-btn {
    font-size: x-large !important;
}

/* themes ------------------------------------------------------------------------------ */
#themes {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prize-card {
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding-bottom: 1rem;
    max-width: 700px; 
    margin-top: 2em;
    min-width: 360px;
}

@media (max-width: 600px) {
    #themes h1 {
        margin-top: 5rem;
    }

    .prize-card {
        margin-bottom: 5rem !important;
    }
}

@media (max-width: 400px) {
    .prize-card {
        max-width: 80% !important;
    }
}

.card-title {
    padding-bottom: 1rem;
    font-size: 15pt;
}

.card-year {
    font-size: 13pt;
}

.card-body {
    margin: 1em !important; 
    padding: 0em !important;
}

.prize-card >
.row >
.card-text-col >
.card-body >
.card-subtitle {
    margin: 0em 0em 2em 0em !important;
}

.prize-card >
.row >
.card-text-col >
.card-body >
.card-text {
    margin: 0em 0em 2em 0em !important;
}

.card-img {
    margin: auto 1em 1em auto !important;
    width: 75% !important;
}

.prize-icons {
    margin-top: 3rem;
}

.theme-icon {
    margin-bottom: 2rem;
}

.fa-solid {
    margin-bottom: 0.5rem;
}

/* @media (max-width: 767px) { */
    .card-body {
        text-align: center;
    }

    .card-img-col {
        text-align: center;
    }

    /* .card-img {
        margin: 2rem auto 1rem auto !important;
        width: 75% !important;
    } */
/* } */

/* schedule ------------------------------------------------------------------------------ */
#schedule {
    /* shorthand:         img url                position  / size  repeat */
    background: url("./images/sch_circuit.svg") center center / cover no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
}

.sch-col {
    margin-top: 2em;
}

.sch-card {
    background-color: rgba(255, 255, 255, 0.7) !important;
    margin-top: 2em;
    min-width: 695px !important;
}

.schRow {
    justify-content: center;
}

.schRow .col-xs-3 {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

#tab-saturday {
    margin-left:1em;
}

#tab-sunday {
    margin-right:1em;
}

#tab-saturday:after,
#tab-sunday:after {
    display: none;
}

.card-header-pills {
    justify-content: space-between !important;
}

.nav-pills .nav-link.active {
    color: #002776 !important;
    font-weight: bold;
    font-size: xx-large !important;
    background-color: white !important;
    border-radius: 25px;
    max-height: 4em;
    padding-top: 0;
    padding-bottom: 0;
    width: 8em !important;
    text-align: center;
}

.nav-pills .nav-link.inactive {
    color: #002776 !important;
    font-weight: bold;
    font-size: xx-large !important;
    background-color: #80868a !important;
    border-radius: 25px;
    opacity: 0.6;
    max-height: 4em;
    padding-top: 0;
    padding-bottom: 0;
    width: 8em !important;
    text-align: center;
}

.card-body p {
    margin: 0 1em 0 1em;
    color: #002776;
    font-weight: 600;
}

.orange {
    color: #ae5024 !important;
}

.green {
    color: #0f6640 !important;
}

/* .time {
    float: left;
}

.event {
    float: right;
} */

hr.separator {
    text-align: center !important;
    border-top: 2px solid #002776;
    opacity: 1 !important;
    margin: 1em auto 1em auto;
    width: 96%;
}

.btw {
    color: #002776;
    font-size: small;
    float: right;
    margin-right: 1.25em !important;
}

.sch-img {
    min-width: 65px;
    width: 100%;
}

@media (max-width: 770px) {
    .sch-card {
        width: 130% !important;
        min-width: 130% !important;
    }

    .card-header-pills {
        justify-content: center !important;
        margin-top: 1rem;
    }

    #tab-saturday, 
    #tab-sunday {
        margin: auto auto 1rem auto;
    }
}

/* faq -------------------------------------------------------------------------------- */
#faq {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.faq-card {
    background-color: rgba(255, 255, 255, 0.4) !important;
    margin-top: 1rem;
    padding: 1rem auto 1rem auto;
}

.faq-list {
    list-style-type: none;
    margin: 2rem 2rem 2rem 1rem;
}

@media (max-width: 767px) {
    .faq-list {
        margin-left: 0px;
    }
}

.question:before {
    content: '';
    display: inline-block;
    height: 1.8em;
    width: 2em;
    margin-bottom: -5px;
    background-size: 2em;
    background-image: url('images/faq-leaf.svg');
    background-position: bottom;
    background-repeat: no-repeat;
}

.faq_exp:before {
    height: 3em;
    width: 2.3em;
    background-size: 3em;
    background-image: url('images/dropleaf.svg') !important;
    background-position: bottom;
    margin-bottom: -10px;
}

li span {
    position: relative;
    left: 0.7em;
}

.question {
    color: #C7F0FF;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-size: large !important;
    padding-left: 40px;
    text-indent: -40px;
}

.answer {
    color: #E39774;
    font-weight: normal;
    letter-spacing: -0.02em;
    margin: 0.5em 1em 1em 1em;
    text-indent: 0px;
    display: none;
}

.answer a {
    color: #C7F0FF;
}

.question:hover, .answer:hover {
    cursor: pointer;
}

.email-blurb {
    padding-bottom: 1rem;
}

.email-link {
    color: #E39774;
}


/* team -------------------------------------------------------------------------------- */
#team {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.intro {
    color: #E39774 !important;
}

.team-card {
    width: 16rem !important;
    margin: auto 1em 1em 1em;
}

.card-img-top {
    padding-top: .9em;
}

.seeds {
    margin: 2em auto 2em auto !important;
}

.seed {
    height: 120px;
    width: 120px !important;
    background-color: #C7F0FF;
    margin: 1em 0.5em 1em 0.5em;
    border-radius: 50%;
    display: inline-block;
}

.seed:hover {
    cursor: pointer;
}

.seed-txt {
    margin-top: 50%;
    width: 100%;
    text-align: center;
    color: #002776;
    font-weight: bold;
    font-size: 85% !important;
}

.txt-md {
    margin-top: 43% !important;
}

.selected {
    background-color: #E39774 !important;
}

.selected-txt {
    color: #002776 !important;
}



/* sponsors ---------------------------------------------------------------------------- */
#sponsors {
    /* shorthand:         img url             position  / size  repeat */
    background: url("./images/circuits.svg") center top / cover no-repeat;
    /* margin: 6em auto 6em auto; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 4rem auto;
}

.spon-contact {
    color: #214E34;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #214E34;
    background-color: #214E34;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: .5em;
    font-weight: bolder;
    font-size: medium;
}

.spon-contact:hover {
    color:white;
    background-color: #2f6846;
}

.logoImg {
    max-width: 100%;
}

@media (max-width: 575px) {
    .sponLevelTitle {
        margin-bottom: 2rem;
    }

    .logoImg {
        max-width: 70%;
        margin-bottom: 3rem;
    }
}

.logoCol {
    display: flex;
    align-items: center;
}



/* footer ------------------------------------------------------------------------------ */
footer {
    background-color: #C7F0FF;
}

.count-intro {
    font-size: small;
    font-weight: 600;
    color: #002776;
    margin-bottom: 0;
}

#countdown {
    color: #d46633;
    font-weight: 700;
    font-size: xx-large;
}

.footernotes {
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: center;
}

.conductP {
    display: flex;
    justify-content: right !important;
}

.codeofconduct {
    display: flex;
    flex-direction: column;
    justify-content: right !important;
}

.socialrow {
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .conductP {
        justify-content: center !important;
    }
}

@media (max-width: 767px) {
    .countdownrow {
        margin-bottom: 2rem;
    }

    .socialrow,
    .codeofconduct,
    .copyright {
        display: flex;
        justify-content: center;
    }

    .socialrow {
        padding-bottom: 1rem;
    }

    .footernotes {
        align-items: center;
        justify-content: center;
    }
}
