/* colors ------------------------------------------------------------------------------ */
/* primary */
    /* dark blue:   #002776 */
    /* cadet blue:  #5C9EAD */
    /* ivory white: #FBFFF1 */
    /* light blue:  #C7F0FF */
/* secondary */
    /* orange:      #E39774 */
    /* light green: #407C59 */
    /* dark green:  #214E34 */

/* global ------------------------------------------------------------------------------ */
body {
    /* background: url("../images/bw-bg.jpg") center center / cover no-repeat fixed; */
    /* color: white; */
    background: url("images/vine1.svg") left top no-repeat, url("images/vine2.svg") left top no-repeat, url("images/vine3.svg") left bottom no-repeat;
    background-size: 55em, 55em, 55em;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-size: medium !important;
}

/* For any viewports greater than 440px wide */
@media (min-width: 700px) {
    body {
        background-size: 100%, 100%, 100%;
    }
}

h1 {
    color: white !important;
    font-weight: 700 !important;
}

p {
    text-overflow: ellipsis !important;
}

.bg-overlay {
    /* background-image: linear-gradient(to right bottom, rgb(0, 153, 204), rgb(102, 153, 0)); */
    background-color: #002776;
    /* opacity: 0.8; */
}

.btn-primary {
    background-color: #002776 !important;
    border-color: #002776 !important;
}

.btn-primary:hover {
    background-color: #001f5c;
    border-color: #001f5c;
}

.nav {
    padding-right: 0;
}



/* header navbar ------------------------------------------------------------------------- */
.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 1em;
}

.navbar-nav .nav-item {
    padding: 0 .5em 0 .5em;
}

.nav-link {
    font-size: medium !important;
    float: right;
}

#mlh-badge-container {
    position: relative;
    min-width: 5rem;
}

#mlh-badge {
    position: absolute;
}

#mlh-collapsed-container {
    display: none;
}

#collapse-container {
    min-width: 10rem;
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}

@media (max-width: 990px) {
    #mlh-badge-container {
        display: none;
    }

    #mlh-collapsed-container {
        display: block;
        position: relative;
        min-width: 5rem;
    }

    #mlh-collapsed-badge {
        position: absolute;
    }
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-toggler {
    margin: auto 1em auto 1em;
}

.white {
    color: white !important;
    font-weight: bold !important;
}

.sticky-top.scrolled {
    --bs-bg-opacity: 1 !important;
    background-color: #002776 !important;
    transition: background-color 200ms linear;
}



/* main logo ----------------------------------------------------------------------------- */
#logo {
    max-width: 26em;
}

#date {
    color: #E39774 !important;
    margin: 1em auto 1em auto;
    font-weight: bolder !important;
}

.signup {
    color: #E39774;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #E39774;
    background-color: #E39774;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: .5em;
    font-weight: bolder;
    font-size: x-large;
}

.signup:hover {
    color:white;
    background-color: rgb(222, 158, 129);
}

/* prizes ------------------------------------------------------------------------------ */
.prize-card {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

/* schedule ------------------------------------------------------------------------------ */
#schedule {
    /* shorthand:         img url                position  / size  repeat */
    background: url("./images/sch_circuit.svg") center top / 100% no-repeat;
}

/* For any viewports less than 700px wide */
@media (max-width: 700px) {

    #schedule {
        background: url("./images/sch_circuit.svg") left top / 650px no-repeat;
    }

}

.sch-card {
    background-color: rgba(255, 255, 255, 0.7) !important;
    margin-top: 2em;
    min-width: 695px !important;
}

.nav-pills .nav-link.active {
    color: #002776 !important;
    font-weight: bold;
    font-size: xx-large !important;
    background-color: white !important;
    border-radius: 25px;
    max-height: 4em;
    padding-top: 0;
    padding-bottom: 0;
    width: 8em !important;
    text-align: center;
}

.nav-pills .nav-link.inactive {
    color: #002776 !important;
    font-weight: bold;
    font-size: xx-large !important;
    background-color: #80868a !important;
    border-radius: 25px;
    opacity: 0.6;
    max-height: 4em;
    padding-top: 0;
    padding-bottom: 0;
    width: 8em !important;
    text-align: center;
}

.card-body p {
    margin: 0 1em 0 1em;
    color: #002776;
    font-weight: 600;
}

.time {
    float: left;
}

.event {
    float: right;
}

hr.separator {
    text-align: center !important;
    border-top: 2px solid #002776;
    opacity: 1 !important;
    margin: 1em auto 1em auto;
    width: 96%;
}

.btw {
    color: #002776;
    font-size: x-small;
    float: right;
    margin-right: 1.25em !important;
}



/* faq -------------------------------------------------------------------------------- */
ul {
    list-style-type: none;
}

.question:before {
    content: '';
    display: inline-block;
    height: 1.8em;
    width: 2em;
    margin-bottom: -5px;
    background-size: 2em;
    background-image: url('images/faq-leaf.svg');
    background-position: bottom;
    background-repeat: no-repeat;
}

.faq_exp:before {
    height: 3em;
    width: 2.3em;
    background-size: 3em;
    background-image: url('images/dropleaf.svg') !important;
    background-position: bottom;
    margin-bottom: -10px;
}

li span {
    position: relative;
    left: 0.7em;
}

.question {
    color: #C7F0FF;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-size: large !important;
}

.answer {
    color: #E39774;
    font-weight: normal;
    letter-spacing: -0.02em;
    margin: 0.5em 1em 1em 1em;
    display: none;
}

.question:hover, .answer:hover {
    cursor: pointer;
}


/* team -------------------------------------------------------------------------------- */
.intro {
    color: #E39774 !important;
}

.team-card {
    width: 16rem !important;
    margin: auto 1em 1em 1em;
}

.card-img-top {
    padding-top: .9em;
}

.card-title {
    margin-bottom: 0em !important;
}

.seeds {
    margin-top: 2em !important;
}

.seed {
    height: 120px;
    width: 120px !important;
    background-color: #C7F0FF;
    margin: 1em 0.5em 1em 0.5em;
    border-radius: 50%;
    display: inline-block;
}

.seed:hover {
    cursor: pointer;
}

.seed-txt {
    margin-top: 50%;
    width: 100%;
    text-align: center;
    color: #5C9EAD;
    font-weight: bold;
    font-size: 85% !important;
}

.txt-md {
    margin-top: 43% !important;
}

.selected {
    background-color: #E39774 !important;
}

.selected-txt {
    color: #002776 !important;
}



/* sponsors ---------------------------------------------------------------------------- */
#sponsors {
    /* shorthand:         img url                position  / size  repeat */
    background: url("./images/circuits.svg") center top / 100% no-repeat;
}

/* For any viewports less than 700px wide */
@media (max-width: 700px) {

    #sponsors {
        background: url("./images/circuits.svg") left top / 650px no-repeat;
    }

}

.spon-contact {
    color: #E39774;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #E39774;
    background-color: #E39774;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: .5em;
    font-weight: bolder;
    font-size: large;
}

.spon-contact:hover {
    color:white;
    background-color: rgb(222, 158, 129);
}



/* footer ------------------------------------------------------------------------------ */
footer {
    background-color: #C7F0FF;
}

.count-intro {
    font-size: small;
    font-weight: 600;
    color: #002776;
    margin-bottom: 0;
}

#countdown {
    color: #E39774;
    font-weight: 700;
    font-size: xx-large;
}
